[user]
	name = Joseph Frazier
	email = 1212jtraceur@gmail.com
[core]
	editor = vim
	excludesfile = /Users/josephfrazier/.gitignore
	pager = less
[color]
	ui = auto
[alias]
	aliases = "!git config --get-regexp 'alias.*' | cut -d . -f 2- | sed 's/ / = /' | sort"
	co = checkout
	st = status -sb
	ci = commit
	br = "!f() { for k in `git branch|perl -pe s/^..//`;do echo `git show --pretty=format:\"%Cgreen%ci %Cblue%cr%Creset\" $k|head -n 1` $k;done|sort -r; }; f"
	root = !pwd
	# http://oli.jp/2012/git-powerup/#diff
	d = diff --ignore-all-space --find-renames --color-words=.
	s = show --ignore-all-space --find-renames --color-words=.
	l = log --patch --color-words
	dn = diff --word-diff --find-renames
	# http://stackoverflow.com/q/8136864
	m = log --graph --full-history --all --color --decorate --oneline
	cp = cherry-pick
	sm = submodule
	# https://stackoverflow.com/questions/3357280/print-commit-message-of-a-given-commit-in-git/3357357#3357357
	msg = log --format=%B -n 1
	vmd = "!f() { (ref=${1:-HEAD}; git msg $ref; echo '```diff'; git diff $ref^ $ref; echo '```') | vmd; }; f"
	# https://github.com/so-fancy/diff-so-fancy/tree/353058f543b047282e47ad14a3ac94f92dc90b03#usage
	dsf = "!f() { [ \"$GIT_PREFIX\" != \"\" ] && cd "$GIT_PREFIX"; git diff --color $@ | diff-so-fancy | less --tabs=4 -RFX; }; f"
	sdf = !git dsf
	fixup = commit --amend --no-edit
	amend = commit --amend
	squash = "!f() { ref=${1:-HEAD}; git commit --squash $ref --no-edit; GIT_SEQUENCE_EDITOR=true git rebase --interactive --autosquash $ref^; }; f"
	# https://stackoverflow.com/questions/21652242/git-re-checkout-files-after-creating-smudge-filter/21653524#21653524
	reattr = !sh -c "\"git stash save; \
                     rm .git/index; \
                     git checkout HEAD -- \\\"$(git rev-parse --show-toplevel)\\\"; \
                     git stash pop\""
	merge-master = "!f() { git pull; git checkout master; git pull; git checkout -; git merge master; }; f"
[push]
	default = tracking
	recurseSubmodules = check
	followTags = true
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[log]
	decorate = short
	follow = true
[hub]
	protocol = git
[stash]
	showPatch = true
[diff]
	compactionHeuristic = true
	indentHeuristic = true
	submodule = diff
	colorMoved = zebra
[commit]
	verbose = true
[rebase]
	autosquash = true
[pager]
	# log = less -RFX --pattern '^(commit|\\*)'
	# diff = less -RFX --pattern '^diff'
	difftool = true
[credential]
	helper = cache --timeout=3600
