[user]
	name = Joseph Frazier
	email = 1212jtraceur@gmail.com
[core]
	editor = vim
	excludesfile = /Users/josephfrazier/.gitignore
	pager = less
[color]
	ui = auto
[alias]
	co = checkout
	st = status -sb
	ci = commit
	br = branch
	root = !pwd
	# http://oli.jp/2012/git-powerup/#diff
	d = diff --color-words --find-renames
	s = show --color-words --find-renames
	# http://stackoverflow.com/q/8136864
	m = log --graph --full-history --all --color --decorate --oneline
	cp = cherry-pick
	sm = submodule
[push]
	default = tracking
	recurseSubmodules = check
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[log]
	decorate = short
[hub]
	protocol = https
[stash]
	showPatch = true
